@import url('resizer.css');
html, body, #root, .container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.main-pane {
  --selected-color: #f4a261;
  --selected-color2: #2a9d8f;
  --hover-color: #bd623c;
  --scale: scale(1.3);

  width: 100%;
  height: 100%;

  font-family: 'Consolas', 'Courier New', monospace;
  font-size: 0.8em;
}
input, select {
  font-family: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
  border: 1px solid #ccc;
  padding: 3px;
  /*outline: none;*/
}

div, input {
  box-sizing: border-box;
}
.split-pane {
  height: 100%;
}
.Pane1 {
  height: 100%;
}
.Pane2 {
  height: 100%;
}

.Pane1 .main-view {
  width: 100%;
  height: 100%;
  padding: 3px;
}

.Pane2 .term-list-view {
  width: 100%;
  height: 100%;
}

.term-view.show {
  display: block;
}
.term-view.hide {
  display: none;
}

.task .nm {
  cursor: pointer;
}

.row { display: flex; }
.label { flex: 0 0 120px;}
.input { flex: 1; padding: 0 3px;}
.input input { width: 100%; }
.icon { flex: 0 0 20px; width: 20px; height: 20px; font-size: 1.2em;}
.save-folder { cursor: pointer;}
.info { flex: 1; padding: 3px 0 0 7px; color: #d6d1d1; text-overflow: ellipsis; white-space: nowrap;}

.task-list { display: flex; gap: 5px;}
.task-list .task {
  padding: 3px 5px 0 3px;
  display: flex;
  border: 1px solid black;
  border-radius: 8px;
}

.spinner {
  width: 16px;
  height: 16px;
  border: 3px solid #ccc;
  border-top: 3px solid var(--selected-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.fa-folder { color: var(--selected-color); margin-right: 5px; cursor: pointer;}
.fa-folder:hover { transform: var(--scale); color: var(--hover-color); }
.fa-gear { color: var(--selected-color); margin-right: 5px; cursor: pointer;}
.fa-gear:hover { transform: var(--scale); color: var(--hover-color); }
.fa-download { color: var(--selected-color); margin-right: 5px; cursor: pointer;}
.fa-download:hover { transform: var(--scale); color: var(--hover-color); }
.fa-circle-stop { color: var(--selected-color); margin-right: 5px; cursor: pointer;}
.fa-circle-stop:hover { transform: var(--scale); color: var(--hover-color); }

.fa-circle { color: var(--selected-color2); margin-right: 5px;}

